use Rex -feature => ['1.0'];
use Rex::Ext::ParamLookup;

include qw/
  Rex::Racktables::Import
  /;

set connection => 'OpenSSH';
user 'root';

task "setup", make {

  Rex::Ossec::Base::setup(server=>"racktables.mydomain.com");

};

